@model Shop.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@*<h2>@ViewBag.Title.</h2>*@

<div class="container">
    <div class="row">
        <div class="col-md-12">


            <div class="login login-2">
                <header class="login--header login-2--header text-center">
                    <span class="icon icon-medium fa fa-user"></span>
                    <h3>Register</h3>
                    <span class="arrow-down login--header__arrow"></span>
                </header>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registerForm", @class = "login--form" }))
                {
                    @Html.AntiForgeryToken()



                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="login--form__input-area input-group">
                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="login--form__input-area input-group">
                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="login--form__input-area input-group">
                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <label class="login--form__input-area checkbox-label">
                        <input type="checkbox" />
                        <span class="checkgraph fa fa-check"></span>
                        Remember me?
                    </label>
                    <button type="submit" class="login--form__button btn btn-default" value="submit">sign up</button>
                }
                <footer class="login--footer text-center">
                    <p class="login--footer__text">Already have an account? <strong>@Html.ActionLink("log in here", "Login")</strong></p>
                </footer>
            </div>



        </div>
    </div>
</div>


@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Sign Up" />
            </div>
        </div>
    }*@

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
