

@*<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area section-padding-100-0 bg-img foo-bg-overlay" style="background-image: url(~/Content/img/bg-img/bg-1.jpg);">
        <div class="container">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="d-flex flex-wrap mb-">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <a href="#"><img src="~/content/img/bg-img/bg-3.jpg" alt=""></a>
                            </div>
                            <div class="footer-social-info">
                                <a href="https://www.facebook.com/rccgpraiseajah"><i class="fa fa-facebook"></i></a>
                                <a href="http://twitter.com/rccgpraiseajah"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/rccgpraiseajah"><i class="fa fa-instagram"></i></a>

                            </div>

                        </div>
                        <div class="copywrite-text">
                            <p>

                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved  <br /><a href="#" target="_blank">Rain Of Heaven</a>

                            </p>
                        </div>
                    </div>
                </div>*@

                <!-- Footer Widget Area -->
                @*<div class="col-3 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-50">
                        <div class="widget-title">
                            <h6>Contact Us</h6>
                        </div>

                        <!-- Single Contact Area -->
                        <div class="single-contact-area mb-30">
                            <p>Address:</p>
                            <span>No: Saka Tinibu <br>Victoria Island Lagos </span>
                        </div>

                        <!-- Single Contact Area -->
                        <div class="single-contact-area mb-30">
                            <p>Phone:</p>
                            <span>08060571811 </span>
                        </div>*@

                        <!-- Single Contact Area -->
                        @*<div class="single-contact-area mb-30">
                            <p> Service Times</p>
                            <span>Sunday  8:00 am<br>Tuesday 6:30 pm<br>Thursday 6:30 pm<br> Thanksgiving Sunday -Every First Sunday </span>*@


                            @*<span><a href="#" class="__cf_email__" data-cfemail="e79e8892958a868e8ba7808a868e8bc984888a">[email&#160;protected]</a></span>*@
                        @*</div>
                    </div>
                </div>*@
                <!-- Footer Widget Area -->
                @*<div class="col-3 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-50">
                        <div class="widget-title">
                            <h6>Usefull Links</h6>
                        </div>
                        <nav>
                            <ul class="useful-links">
                                <li> @Html.ActionLink("Home", "Index", "Home")</li>
                                <li> @Html.ActionLink("About Us", "About", "Home")</li>
                                @*<li>  @Html.Action("SermonMenu", "Navigation")</li>*@
                                @*<li> <a href="@Url.Action("DepartmentCorner","Department")">Ministries</a></li>
                                <li> @Html.ActionLink("Events", "UpcomingEvents", "Event")</li>*@
                                @*<li> @Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li><a href="#">Quotes</a></li>
                                <li> @Html.ActionLink("NatioalProgramme", "NatioalProgramme", "Home")</li>
                                <li>    @Html.ActionLink("Login", "Login", "Account")</li>
                            </ul>
                        </nav>
                    </div>
                </div>*@

                <!-- Footer Widget Area -->
                @*<div class="col-3 col-sm-6 col-xl-3">
                    <div class="footer-widget mb-50">
                        <div class="widget-title">
                            <h6>Slogan</h6>
                        </div>*@
                        @*<p>Jesus Christ the same yesterday, and today, and for ever. <span>Hebrews 13 vs 8.</span></p>
                        <a href="#" class="btn faith-btn mt-70">Sunday Worship: 8:30 AM</a>*@
                    @*</div>
                </div>
            </div>
        </div>
    </div>
</footer>*@