
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title and Meta Tags Begins -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">

    <title>Shopping Mall</title>
    @*<link rel="shortcut icon" href="images/favicon.ico">*@
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />
    <!-- Title and Meta Tags Ends -->
    <!-- Google Font Begins -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700italic,700,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,200,100,800,900' rel='stylesheet' type='text/css'>
    <!-- Google Font Ends -->
    <!-- CSS Begins-->
    <link href='/Content/admintemplate/tempstartuplayout/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
    <link href="/Content/admintemplate/tempstartuplayout/css/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="/Content/admintemplate/tempstartuplayout/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/admintemplate/tempstartuplayout/css/portfolio.css" rel="stylesheet" type="text/css" />
    <link href="/Content/admintemplate/tempstartuplayout/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/admintemplate/tempstartuplayout/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link href="/Content/admintemplate/tempstartuplayout/css/flexslider.css" rel="stylesheet" type="text/css" />
    <link href="/Content/admintemplate/tempstartuplayout/css/tweet-carousel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Content/admintemplate/tempstartuplayout/css/simpletextrotator.css">
    <!-- Main Style -->
    <link href="/Content/admintemplate/tempstartuplayout/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/Content/admintemplate/tempstartuplayout/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- Color Panel -->
    <link href="/Content/admintemplate/tempstartuplayout/css/color_panel.css" rel="stylesheet" type="text/css" />
    <!-- Skin Colors -->
    <link href="/Content/admintemplate/tempstartuplayout/css/color-schemes/red.css" id="changeable-colors" rel="stylesheet" type="text/css" />
    <style>
        .center {
            height: 100px;
            position: relative;
        }

            .center p {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
    </style>
</head>


<body id="home" , style='background:#d3d3d3'>

    <!-- Page Loader -->
    <div id="pageloader">
        <div class="loader-item fa fa-spin colored-border"></div>
    </div>

    @*<header id="header">
        <div class="bg-overlay pattern"></div>
        <div class="navbar navbar-fixed-top" id="navigation" style="background:#3f51b5 !important">
            <div class="container">
                 Navigation Bar
                <div class="navbar-header">*@
    @*<ul class="nav navbar-nav">*@

    @*<ul class="nav navbar-nav">
        <li class="logo pull-left" style="margin:2px">*@
    @*<i>*@
    @*<br /><br />*@
    @*<b> <img src="~/Images/Cyberspace.png" alt="logo" width="140" height="70" style="margin-bottom:2px" /></b>*@
    @*</i>*@
    @*</li>
        <li></li>
        <li></li>*@
    @*<li>@Html.ActionLink("Servi", "Index", "Home")</li>*@
    @*<li>@Html.ActionLink("Author's Guide", "AuthorsGuide", "Home")</li>*@
    @*<li>@Html.ActionLink("Editorial Board", "Editorial", "Home")</li>
        <li>@Html.ActionLink("Current Edition", "JournalEditDetail", "Home")</li>
        <li>@Html.ActionLink("Previous Edition", "JournaIPrevious", "Home")</li>*@

    @*</ul>*@

    <!-- Responsive Menu Button -->
    @*</ul>*@
    <!-- Logo Image -->
    @*</div>
                    <!-- End Navigation Bar -->
                </div>
                <!-- End container -->

            </div>
        </header>*@

    <!-- Additional features Section Begins -->
    @*@RenderBody()*@
    <!-- Additional features Section Ends -->
    <!-- Script Begins -->
    @*<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <hr />
        <footer class="main-footer">
            <div class="center">
                <p>
                    <strong>Copyrights | &copy; @DateTime.Now.Year <a href="http://http://www.cyberspace.net.ng/">Cyberspace Network Limited</a>.</strong> All rights reserved.
                </p>
            </div>
        </footer>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/bootstrapValidator.min.js"></script>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/jquery.sticky.js"></script>
        <!-- Slider and Features Canvas -->
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/jquery.flexslider-min.js"></script>
        <!-- Overlay -->
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/overlay/modernizr.js"></script>
        <!-- Screenshot -->
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/jquery.flexisel.js"></script>
        <!-- Portfolio -->
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/jquery.mixitup.min.js"></script>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/jquery.fitvids.js"></script>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/jquery.easing.1.3.js"></script>
        <!-- Counting Section -->
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/jquery.appear.js"></script>
        <!-- Expertise Circular Progress Bar -->
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/effect.js"></script>
        <!-- Twitter -->
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/tweet/carousel.js"></script>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/tweet/scripts.js"></script>
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/tweet/tweetie.min.js"></script>
        <!-- Text Slider -->
        <script src="/Content/admintemplate/tempstartuplayout/js/jquery.simple-text-rotator.js"></script>
        <!-- Custom -->
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/custom.js"></script>
        <!-- Color -->
        <script type="text/javascript" src="/Content/admintemplate/tempstartuplayout/js/color-panel.js"></script>

        <!-- Script Ends -->
        <!-- Script Ends -->
        <!-- @RenderSection("scripts", required: false) -->*@
    @*</body>

        </html>*@
